body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #00FF99;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #00FF99;
}



.img-centered {
    margin: 0 auto;
}

header {
    text-align: center;
    color: #00FF99;
    background:black;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
    
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    background-color: black;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

/*termino de menu*/

.portfolio-item {
    margin-bottom: 25px;
}

/*fotos de las paginas*/

.habilidades {
	margin: 30px 0px 20px;
    display: inline-block;
}

.habilidades h2 {
	color: black;
	margin: 20px 0px;
	text-align: center;
}

.habilidades h3 {
	margin: 10px 0px 30px;
	color: #00FF99;
	text-align: center;
}

.habilidades .habilidad {
	width: 90%;
	display: inline-block;
	height: auto;
    float: left;
    margin: 50px;
}
/*termino de habilidades*/


.about {
	margin-bottom: 80px;
    width: 100%;
}

.about h2 {
	text-align: center;
	margin: 20px 0px 30px 0px;
	color: #00FF99;
}

.about .perfil {
	float: left;
	width: 200px;
	margin: 0px 20px 20px 0px;
	border: 1px solid black;
}
.about p {
	font-size: 100%;
}
/*perfil*/

.contact {
  text-align: center;
    float: right;
}

.contact h2 {
	color:#00FF99;
	margin: 100px 0px 30px;
}

.contact img {
  margin: 20px;
}


.footer{
  height: 100px;
  background-color: #00FF99;
  padding: 10px;
}
.footer p {
    font-size: 20px;
    font-weight: bold;
    
}
.container-fluid{
    width: 100%;}





